.to-top {
    position: fixed;
    @include adaptive-value("right", 50, 10, 1);
    @include adaptive-value("bottom", 50, 10, 1);
    @include adaptive-value("width", 50, 40, 1);
    @include adaptive-value("height", 50, 40, 1);

    border-radius: 50%;
    background-color: $accent;

    z-index: 6;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(0, 50px) rotate(90deg);
    opacity: 0;
    transition: all 0.3s ease 0s;

    &._active {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);

        img {
            transform: rotate(0deg);
        }
    }

    img,
    svg {
        width: 16px;
        stroke: $light;
        stroke-width: 1.5px;
        fill: transparent;
    }
}
